Repository CMS-Enterprise/mint-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CMS-Enterprise/mint, @CMS-Enterprise/mint-frontend, @CMS-Enterprise/mint-backend

Updated readme
  .spelling
  src/README.md
  src/components/AddNote/index.test.tsx
  src/components/MultiSelect/index.test.tsx
  src/components/OktaUserSelect/index.test.tsx
  src/components/ShareExport/index.test.tsx
  src/components/Tabs/Tabs.test.tsx
  src/features/Feedback/ReportAProblem/index.test.tsx
  src/features/Feedback/SendFeedback/index.test.tsx
  src/features/HelpAndKnowledge/Articles/HighLevelProjectPlan/index.test.tsx
  src/features/HelpAndKnowledge/Articles/SixPagerMeeting/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/SolutionDetails/PointsOfContact/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCard/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.test.tsx
  src/features/Home/components/ModelsBySolutions/index.test.tsx
  src/features/ModelPlan/CollaborationArea/Cards/ModelPlanCard/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/_components/NeedQuestionAndAnswer/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/_components/SolutionCard/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/features/ModelPlan/TaskList/Payment/FundingSource/index.test.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/Checklist/index.test.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/index.test.tsx
  src/features/Notifications/Home/_components/DailyDigest.test.tsx
  src/features/Notifications/Home/index.test.tsx
  src/features/Notifications/Settings/index.test.tsx
  src/tests/MockedProvider.tsx
  src/tests/setup.ts
  src/utils/tests/modelPlan.test.tsx
  src/utils/tests/tableSort.test.ts
  src/utils/tests/user.test.ts
Owners: @CMS-Enterprise/mint, @CMS-Enterprise/mint-frontend

Fixed readme
  src/README.md
Owners: @CMS-Enterprise/mint-frontend

put alphbetically
  src/README.md
Owners: @CMS-Enterprise/mint-frontend

Refactored a for more contexts
  src/app/Routes/index.tsx
  src/components/Header/index.tsx
  src/contexts/MessageContext/index.tsx
  src/contexts/NavContext/index.tsx
  src/features/Home/Settings/index.test.tsx
  src/features/Home/index.test.tsx
  src/features/ModelPlan/CRTDL/AddCRTDL/index.test.tsx
  src/features/ModelPlan/CRTDL/CRTDLs/index.test.tsx
  src/features/ModelPlan/CRTDL/CRTDLs/table.test.tsx
  src/features/ModelPlan/CollaborationArea/Cards/TeamCard/index.test.tsx
  src/features/ModelPlan/Collaborators/AddCollaborator/index.test.tsx
  src/features/ModelPlan/Collaborators/index.test.tsx
  src/features/ModelPlan/Documents/AddDocument/index.test.tsx
  src/features/ModelPlan/Documents/index.test.tsx
  src/features/ModelPlan/ModelPlanOverview/index.test.tsx
  src/features/ModelPlan/ReadOnly/CRTDLs/index.test.tsx
  src/features/ModelPlan/ReadOnly/Documents/index.test.tsx
  src/features/ModelPlan/Status/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.stories.tsx
  src/features/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/features/ModelPlan/TaskList/_components/TaskListSideNav/index.test.tsx
  src/features/ModelPlan/TaskList/index.test.tsx
  src/features/Notifications/Home/index.test.tsx
  src/features/Notifications/Settings/index.test.tsx
  src/hooks/useMessage.tsx
Owners: @CMS-Enterprise/mint-frontend

Updated remaining dependabot packages
  package.json
  yarn.lock
Owners: @CMS-Enterprise/mint-frontend

Fixed trans component, updated snaps
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
Owners: @CMS-Enterprise/mint-frontend

[NOREF] Updated remaining dependabot packages (#1367)
  package.json
  src/i18n/en-US/modelPlanTaskList.ts
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/__snapshots__/index.test.tsx.snap
  src/views/ModelPlan/TaskList/_components/TaskListSideNav/index.tsx
  yarn.lock
Owners: @CMS-Enterprise/mint-frontend

feat: echimp test data, basic unit test
  .vscode/settings.json
  cmd/dbseed/echimp.go
  pkg/echimpcache/echimp_cache_test.go
  pkg/echimptestdata/FFS_CR_DATA.parquet
  pkg/echimptestdata/TDL_DATA.parquet
  pkg/echimptestdata/echimp_test_data.go
  pkg/testconfig/s3testconfigs/s3_test_configs.go
  pkg/testconfig/test_config_base.go
Owners: @CMS-Enterprise/mint, @CMS-Enterprise/mint-backend

ran yarn install
  yarn.lock
Owners: @CMS-Enterprise/mint-frontend

Renames test files
  src/components/AddNote/index.test.tsx
  src/components/MultiSelect/index.test.tsx
  src/components/OktaUserSelect/index.test.tsx
  src/components/ShareExport/index.test.tsx
  src/components/Tabs/Tabs.test.tsx
  src/features/Feedback/ReportAProblem/index.test.tsx
  src/features/Feedback/SendFeedback/index.test.tsx
  src/features/HelpAndKnowledge/SolutionsHelp/_components/SolutionHelpCardGroup/index.test.tsx
  src/features/Home/components/ModelsBySolutions/index.test.tsx
  src/features/ModelPlan/CollaborationArea/Cards/ModelPlanCard/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/SelectSolutions/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/Checklist/index.test.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/index.test.tsx
  src/features/Notifications/Home/_components/DailyDigest.test.tsx
  src/features/Notifications/Home/index.test.tsx
  src/features/Notifications/Settings/index.test.tsx
  src/tests/config.ts
  src/tests/util.ts
  vite.config.ts
Owners: @CMS-Enterprise/mint-frontend

[MINT-3084] Updated 4i and aco-os point of contact info (#1355)
  migrations/V175__Update_4i_ACOOS_Content.sql
Owners: @CMS-Enterprise/mint-backend

moved around csv component
  src/components/CSVExportLink/CsvExportLink.tsx
  src/components/CSVExportLink/fieldDefinitions.ts
  src/features/Home/Table/index.tsx
  src/hooks/useFetchCSVData.tsx
Owners: @CMS-Enterprise/mint-frontend

feat: wip echimp data to its own file, wip ld flag
  pkg/graph/resolvers/echimp.go
  pkg/graph/resolvers/echimp.resolvers.go
Owners: @CMS-Enterprise/mint-backend

Update packages, add keys to mapped components
  package.json
  src/index.tsx
  src/views/HelpAndKnowledge/Articles/_components/RelatedArticles/index.tsx
  src/views/Home/Table/index.tsx
  yarn.lock
Owners: @CMS-Enterprise/mint-frontend

Fixed tables without keys
  src/components/AddNote/index.test.tsx
  src/features/ModelPlan/CRTDL/CRTDLs/table.tsx
  src/features/ModelPlan/Collaborators/table.tsx
  src/features/ModelPlan/Documents/table.tsx
  src/features/ModelPlan/TaskList/ITSolutions/Home/operationalNeedsTable.tsx
  src/features/ModelPlan/TaskList/ParticipantsAndProviders/_component/ProviderAndSupplierTable/index.tsx
  src/features/ModelPlan/TaskList/Payment/Recover/__snapshots__/index.test.tsx.snap
Owners: @CMS-Enterprise/mint-frontend

Updated broken tests
  src/components/BooleanRadioForm/index.test.tsx
  src/components/ReadyForReview/index.test.tsx
  src/components/Tabs/Tabs.test.tsx
  src/features/Feedback/ReportAProblem/index.test.tsx
  src/features/Feedback/SendFeedback/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/AddCustomSolution/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/AddSolution/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/LinkDocuments/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/SolutionImplementation/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/Subtasks/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/_components/CheckboxCard/index.test.tsx
  src/features/ModelPlan/TaskList/ITSolutions/_components/SolutionDetailCard/index.test.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/Checklist/index.test.tsx
  src/features/ModelPlan/TaskList/PrepareForClearance/ClearanceReview/index.test.tsx
  src/features/Notifications/Home/_components/DailyDigest.test.tsx
  src/features/Notifications/Home/index.test.tsx
  src/features/Notifications/Settings/index.test.tsx
Owners: @CMS-Enterprise/mint-frontend

Fixed data flow in tests
  src/features/ModelPlan/TaskList/Beneficiaries/Frequency/index.test.tsx
  src/features/ModelPlan/TaskList/Payment/AnticipateDependencies/index.test.tsx
  src/features/ModelPlan/TaskList/Payment/Complexity/index.test.tsx
Owners: @CMS-Enterprise/mint-frontend

Added key to articlecard
  src/features/HelpAndKnowledge/Articles/_components/ArticleCard/index.test.tsx
Owners: @CMS-Enterprise/mint-frontend

Fixed incorrect data-snapshot
  src/features/ModelPlan/TaskList/Payment/ClaimsBasedPayment/index.test.tsx
Owners: @CMS-Enterprise/mint-frontend

Fixed cypress test
  cypress/e2e/notification.spec.js
Owners: @CMS-Enterprise/mint-frontend

feat: add support for launch darkly bool key fetching from the backend
  pkg/appconfig/config.go
  pkg/graph/resolvers/echimp.resolvers.go
  pkg/graph/resolvers/launch_darkly.go
Owners: @CMS-Enterprise/mint-backend

.github/CODEOWNERS:

# Order matters in a CODEOWNERS file. The last matching pattern is what will be used for requests.
# Anything that doesn't hit the below patterns should be sent to the entire team for review.
* @CMS-Enterprise/mint

# Frontend Changes
/yarn.lock @CMS-Enterprise/mint-frontend
/package.json @CMS-Enterprise/mint-frontend
/src/ @CMS-Enterprise/mint-frontend
/cypress/ @CMS-Enterprise/mint-frontend
/public/ @CMS-Enterprise/mint-frontend
/.storybook/ @CMS-Enterprise/mint-frontend
*.js @CMS-Enterprise/mint-frontend
*.ts @CMS-Enterprise/mint-frontend
*.tsx @CMS-Enterprise/mint-frontend

# Backend Changes
/go.mod @CMS-Enterprise/mint-backend
/go.sum @CMS-Enterprise/mint-backend
/pkg/ @CMS-Enterprise/mint-backend
/cmd/ @CMS-Enterprise/mint-backend
/migrations/ @CMS-Enterprise/mint-backend
*.go @CMS-Enterprise/mint-backend
